<table style="width:100%">
  <tr>
    <th>type</th>
    <th>price</th> 
    <th>time</th>
  </tr>
  {{#each}}
  <tr>
    <td>{{type}}</td>
    <td>{{price}}</td> 
    <td>{{time}}</td>
  </tr>
  {{/each}}
</table>