<table style="width:100%">
  <tr>
    <th>type</th>
    <th>cost</th> 
    <th>date</th>
  </tr>
  {{#each bill}}
  <tr>
    <td>{{type}}</td>
    <td>{{cost}}</td> 
    <td>{{date}}</td>
  </tr>
  {{/each}}
</table>